name: Build and Push Product Catalog to ECR

on:
  push:
    branches: [ "main" ]
    paths: [ "src/product-catalog/**" ] # Only trigger on changes to this service

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        
      - name: Build, Tag, and Push Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          AWS_ECR_REPO: learning
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Navigate to the specific service directory
          cd src/product-catalog
          
          # Build and push using the directory's Dockerfile
          docker build -t $ECR_REGISTRY/$AWS_ECR_REPO:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$AWS_ECR_REPO:$IMAGE_TAG
